{% extends "base.html" %}

{% load crispy_forms_tags %} 

{% block content %}

<div class="container-fluid">
    <h1 class="dark-bg">Delete this post</h1>
    <div class="row align-items-center" style="height: 10vh;">
        <div class="mx-auto col-10 col-md-8 col-lg-6 form-control">


            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <p>Are you sure you want to delete {{ post.slug }}?</p>
                <input type="submit" Class="btn-form btn-form:hover btn-form:active" value="Delete">
            </form>

        </div>
    </div>
</div>
{%endblock%}