{% extends "base.html" %}

{% block content %}
<h2 class="text-center dark-bg">Your Logged Expenses</h2>
<a href="{% url 'add_post' %}" class="card-title post-link btn-form btn-lg">Add an Expense</a>

{% if user.is_authenticated %}
    <div class="container-fluid">
        <div class="row">
            <!--  Entries Column -->
            <div class="col-12 mt-3 left">
                <div class="row">
                    {% for post in post_list %}
                        {% if post.author == user %}
                            <div class="col-md-4">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="image-container">
                                            <img class="card-img-top"
                                                src="https://images.freeimages.com/365/images/istock/previews/9998/99988263-money-symbol-euro-sign-button.jpg" alt="A Euro Symbol">
                                            <div class="image-flash">
                                                <p class="author">Author: {{ post.author }}</p>
                                            </div>
                                        </div>
                                        <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                            <h4 class="card-title">{{ post.title }}</h4>
                                            <span>
                                                <h6 class="card-date">{{ post.date }}</h6>
                                                <h6> Amount: €{{ post.expense_amount }}</h6>
                                            </span>
                                        </a>
                                        <hr>

                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:3 %}
                        </div>
                        <div class="row">
                            {% endif %}
                            {% endif %}
                    {% empty %}
                            <tr>
                                <td>You have no Expenses logged yet!</td>
                            </tr>
                    {% endfor %}

                </div>
            </div>
        </div>
            {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link btn-form btn-lg">&laquo; PREV </a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link btn-form btn-lg"> NEXT &raquo;</a></li>

                    {% endif %}
                </ul>
            </nav>
            {% endif %}
    {% else %}
    <div class="alert alert-info">Please <a href="{% url 'account_login' %}">Login</a> to see your Expenses logged</div>

    {% endif %}
    </div>
    
{%endblock%}